<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation=""
      autoReload="true"
      keepFileOpen="true"
      concurrentWrites="true"
      internalLogFile="c:\temp\ae-pid-internal.log"
      internalLogLevel="Debug">
        
    <!-- 定义变量 -->
    <variable name="companyName" value="AE"/>
    <variable name="productName" value="AE PID Visio Client"/>
    <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}\${var:companyName}\${var:productName}\logs" />
    <variable name="shortDate" value="${date:format=yyyyMMdd}" />
    
    <!-- 目标定义 -->
    <targets async="true">
        <!-- 主日志文件（按日期滚动） -->
        <target name="mainFile" xsi:type="File"
                fileName="${logDirectory}\${productName}.log"
                archiveFileName="${logDirectory}\archives\${productName}_${shortDate}_{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30"
                createDirs="true"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${logger:shortName=true}|${message}${onexception:${newline}${exception:format=type,message}}" />
    
        <!-- 详细异常文件 -->
        <target name="errorFile" xsi:type="File"
                fileName="${logDirectory}\${productName}_exceptions.log"
                archiveAboveSize="10485760"
                maxArchiveFiles="10"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${logger:shortName=true}|${message}${newline}${exception:format=ToString}" />
    
        <!-- 控制台输出（调试时使用） -->
        <target name="console" xsi:type="ColoredConsole"
                layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:${newline}${exception:format=message}}" />
    
        <!-- 调试窗口输出（适用于WinForms/WPF） -->
        <target name="debug" xsi:type="OutputDebugString"
                layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}" />
    </targets>

    <!-- 规则定义 -->
    <rules>
        <!-- 将Trace及以上级别的日志写入主文件 -->
        <logger name="*" minlevel="Info" writeTo="mainFile" />
    
        <!-- 将Error及以上级别的日志写入异常文件 -->
        <logger name="*" minlevel="Error" writeTo="errorFile" />
    
        <!-- 调试时输出到控制台 -->
        <logger name="*" minlevel="Debug" writeTo="console" enabled="false" />
    
        <!-- 调试时输出到Debug窗口 -->
        <logger name="*" minlevel="Debug" writeTo="debug" enabled="false" />
    </rules>
    
</nlog>
